body {
  background-color: #2C2E2E;
  background-image:  url("assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-dark {
  background-color: rgba(15, 15, 15, 0.5) !important;
}

footer.bg-dark {
  background-color: rgba(15, 15, 15, 0.8) !important;
}

.card-img-top {
  height: 300px;
}

.github-link {
  height: 20px !important;
  filter: invert(100%) !important;
}

.navbar {
  font-family: Poppins;
}

.navbar-brand {
  color: #45ace0 !important;
  text-shadow: 3px 3px 5px rgba(16, 71, 99, 1) !important;
  font-weight: bold;
  padding-bottom: 0;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  height: 100vh;
  background-color: inherit;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one */

  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

footer p {
  margin-bottom: .25rem;
}

#social-media img {
  width: 35px;
  height: 35px;
  padding-left: 0.5%;
  margin-left: 10px;
}

#social-media img:hover {
  opacity: 0.5;
}

#mail {
  margin-top: 5px;
}

.logo {
  max-height:7vh;
  padding-top: 0;
  padding-bottom:0;
  width: auto;
}

.section-header {
  font-size: 50px;
  font-weight: 500;
  color: #45ace0;
  text-shadow: 5px 5px 5px rgba(16, 71, 99, 0.4);
}
